@import "../kit/variables";
@import "../kit/mixins";

.description {
  padding-top: 60px;
  padding-bottom: 60px;

  .description__headline {
    @include oswald-font(normal, 700, 48px, 64px);
    text-align: center;
    color: #464547;
    letter-spacing: 2px;
  }

  .description__paragraph {
    @include source-sans-pro-font(normal, 400, 24px, 32px);
    text-align: center;
    color: #666666;
    letter-spacing: 2px;
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .description-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 80px;

    .description-text__item {
      flex: 1;
      color: #666666;
      @include source-sans-pro-font(normal, 400, 16px, 22px);
    }
  }
  .description-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 39px;

    .description-button__button {
      @include oswald-font(normal, 400, 14px, 26px);
      text-align: center;
      letter-spacing: 0.1em;
      color: $ultra-white-color;
      background: $read-more-button-color;
      border-radius: 18px;
      border: none;
      padding: 7px 20px;
      transition: transform .4s ease-in-out;
      transform-origin: left bottom;

      &:hover {
        transform: rotate(10deg);
      }
    }
  }
}