@import "../kit/variables";
@import "../kit/mixins";

.video {
  @include section-background("../images/video_background.png");
  padding-top: 80px;
  padding-bottom: 80px;

  .video-block {
    max-width: 450px;
    margin: 0 auto;

    .video-block__headline {
      @include oswald-font(normal, 700, 48px, 64px);
      line-height: 64px;
      text-align: center;
      color: $ultra-white-color;
      letter-spacing: 2px;
    }

    .video-block-button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 55px 0;
      
      .video-block-button__button {
        background-color: #39C2D7;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: transform .4s ease-in-out;

        .video-block-button__button__icon {
          font-size: 60px;
          color: $ultra-white-color;
          transition: color .4s ease-in-out;
        }

        &:hover {
          transform: scale(.9);
          background-color: $ultra-white-color;

          & .video-block-button__button__icon {
            color: #39C2D7;
          }
        }
      }
    }

    .video-block-paragraph {
      @include source-sans-pro-font(normal, 400, 24px, 32px);
      text-align: center;
      color: $ultra-white-color;
    }
  }
}